body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 83, 83);
}

section {
    margin: auto;
}

table {
    border-collapse: separate;
    border-spacing: 8px;
}

td {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 3px 3px #888888;
}

td.active {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

td.hide {
    background-color: transparent;
    color: transparent;
    box-shadow: 0 0 transparent;
}

p {
    margin: 0;
}

::selection {
    background-color: transparent;
    color: #000;
}